/* Basis-Styling für die gesamte Seite */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("landbackground.png"); /* HINTERGRUNDBILD LADEN */
    background-size: cover; /* Bild skaliert auf Bildschirmgröße */
    background-position: center; /* Bild bleibt zentriert */
    background-repeat: no-repeat; /* Kein Wiederholen des Bildes */
    background-attachment: fixed; /* Hintergrund bleibt fixiert */
}

/* Styling für den Container, in dem das UGC angezeigt wird */
#ugc-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    position: absolute;
    box-shadow: none;
}

/* Canvas (Animation) */
canvas {
    background-color: transparent !important;
}

/* Bild-Styling */
img {
    display: block;
    background-color: transparent;
}
